body{
    font-family:sans-serif;
}
/* Header */

header{
    display :grid;
    
}

header .containerHeader{
    display: grid;
    background-image: url('./img-1.png');
    background-size: cover;
    background-position: center;
    background-repeat: initial; 
    color:#ffffff;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.7em;
    
}
header .containerFluid{
    display: grid;
    grid-template-columns: 1fr;
}

header .containerHeader .dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header .containerHeader .dropdown .image1{
    background-color: transparent;
    width: 5em;
    height: 4.5em;
}
header .containerHeader .infoUser button{
    background-color: transparent;
    border: 1px solid white;
    padding: 0.4em;
    font-size: 0.9em;
}

header .containerHeader .website{
    font-family: 'Gugi', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
}

header .containerHeader .infoUser{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    font-size: 1.2em;
}

header .containerHeader .infoUser p a{
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
}
/* .navbar{
    margin: 0;
} */
.btn{
    transform: scale(1);
}

.btn:hover{
    background-color:#ffffff;
    color:#000000;
}

/* .fa-search{
    padding: 0.4em;
}

.fa-shopping-cart{
    padding: 0.4em;
} */

.btn:hover .fas{
    transform: scale(1.8);
    transition: all 1s;
    
}

.containerFluid .navbar{
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
    padding: 0.4em;
    font-weight: bold;
}

/* /Header */
/* Slider */
.site-slider{
    position: relative;
}
.position-top{
    position: absolute;
    top:40%;
}
.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    background-color: #000000;
    color: white;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 10rem;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease;
}
.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity:1;
}
.right-0{
    right: 0;
}
/* Slick Dots */
.slick-dots{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0 0;
    list-style-type: none;
    bottom: 0;
    /* right:50%; */
    color: #000000;
    transition: all 0.9s ;
}
 .slick-dots li{
    margin: 0 0.6rem;
} 
.slick-dots button{
    display: block;
    width:0.5rem;
    height:0.5rem;
    padding:0;
    border: none;
    background-color:#000;
    transform: scale(1);
    border-radius: 100%;
} 
 .slick-dotli.slick-active button{
    transform: scale(2.5);
    box-shadow: 0px 3px 5px 1px rgba(0,0,0,0.205);
} 
/* Menu */
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    margin: 0 5em;
}
.menu .title{
    grid-column: 1/9;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.menu .title span{
    font-size: 1.5em;
    font-weight: bold;   
}
.menu .title a{
    font-size: 0.8em;
    font-weight: bold;
}
.menu .ul-img{
    grid-column: 1/9;
    display: flex;
    justify-content: space-between;
    width: auto;
    height: auto;
    overflow-x: auto;
    padding-left: 0;
}
.menu .ul-img .div-img{
    display: inline-block;
}
.menu .ul-img .a-img{
    display: flex;
    position: relative;
    max-width: 100%;
    
}
.menu .ul-img .a-img .imgBrands{
    width:17em ;
    height:13em ;
    position: relative;
    margin-top:0.7em;
    margin-right: 0.7em;
    object-fit: cover;
    object-position: 50% 50%;

}
.menu .ul-img .a-img .bannerBrands{
    width:4em;
    height:4em;
    position: absolute;
    left: 70%;
}
