body{
    font-family:sans-serif;
}

header{
    display :grid;
}

header .containerHeader{
    display: grid;
    background-image: url('./img-1.png');
    background-size: cover;
    background-position: left;
    /* background-color:#45ccb8; */
    /* background-color: #45ccb8; */
    color: white;
    grid-template-columns: 1fr 2fr 1fr;
    padding: 0.4em;
    
}
header .containerFluid{
    display: grid;
    grid-template-columns: 1fr;
}

header .containerHeader .dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header .containerHeader .dropdown .image1{
    width: 5em;
    height: 5em;
}
header .containerHeader .infoUser button{
    background-color: transparent;
    border: 1px solid white;
    padding: 0.4em;
    font-size: 0.9em;
}

header .containerHeader .website{
    font-family: 'Gugi', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
}

header .containerHeader .infoUser{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4em;
    font-size: 1.2em;
}

header .containerHeader .infoUser p a{
    text-decoration: none;
    color: white;
    border: 1px solid transparent;
}
/* .navbar{
    margin: 0;
} */
.btn{
    transform: scale(1);
}

.btn:hover{
    background-color: #45ccb8;
    color:#ffffff;
}

/* .fa-search{
    padding: 0.4em;
}

.fa-shopping-cart{
    padding: 0.4em;
} */

.btn:hover .fas{
    transform: scale(1.8);
    transition: all 1s;
}

/* .containerFluid .navbar{
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
} */
.navbar-nav{
    padding: 0.4em;
}

.navbar .nav-link{
    font-family: 'Pacifico', cursive;
    font-size: 1.2em;
}